.sidebar {
  position: relative;
  width: 290px;
  transition: 0.3s all;
}

.sidebar-small {
  width: 70px;
}

/*
 By default there is no .sidebar-small 
 After Click It Will Toggle (sidebar-small, sidebar)
 when found then remove text
*/
.sidebar-small .sidebar-text {
  display: none;
}

.sidebar-small .bi-lightning-charge::before {
    content: "\F46C";
    transform: rotateY(360deg);
    transition: all 0.6s;
}

#minimize {
  position: absolute;
  top: 8px;
  right: 1px;

  transition: 0.7s all;
}

#minimize:hover,
#maximize:hover {
  color: gold;
  opacity: 0.8;
}

#maximize {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.none {
  display: none;
}


.mt-6{
  margin-top: 68px;
}

.fit-icon{
      padding: 8px 10px !important;
    width: 40px;
}